<section class="archive-wrapper">
    <% if(is_archive()) { %>
        <h1 class="archive-page-title">归档（<%- site.posts.length %>篇）</h1>
    <% } %>

    <% if(is_tag()) { %>
        <h1 class="archive-page-title">#<%- page.tag %></h1>
    <% } %>
    
    <ul class="archive-posts">
        <% page.posts.each(function (post) { %>
            <li class="post-item">  
                <span class="post-time"><%= date(post.date, "YYYY-MM-DD") %></span>
                <span class="post-title">
                    <a class="post-title-link" href="<%- url_for(post.path) %>">
                        <%= post.title %>
                    </a>
                </span>
            </li>
        <% }) %>
    </ul>
</section>

<!--分页-->
<%- include('./include/paginator.ejs') %>

<!-- 样式 -->
<style>
    .archive-wrapper{
        padding: 1rem 2.5rem;
    }
    .archive-page-title {
        color: var(--deep-blue);
        font-size: 1.5rem;
    }
    .archive-posts {
        padding: 0;
    }
    .post-item {
        padding: 0.25rem 0;
        /* border-bottom: dashed 1px #BABABA; */
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        font-size: 0.9rem;
    }
    .post-time {
        color: var(--deep-blue);
    }
    .post-title {
        padding-left: 1.5rem;
    }
    .post-title-link {
        text-decoration: none;  
        color: var(--deep-blue);
    }
    .post-title-link:hover {
        text-decoration: underline;
        color: var(--link-hover);
      }
</style>
