<!-- 首页模板 -->
<section class="homepage-posts-wrapper">
    <% let year %>
    <% page.posts.each(post => { %>
        <!-- 年份 -->
        <% if (date(post.date, "YYYY") !== year) { %>
            <% year = date(post.date, "YYYY") %> 
            <div class="homepage-post-year"><%- year %>年</div>
        <% } %> 
        <!-- 文章 -->
        <article class="homepage-post">
            <time class="homepage-post-time">
                <%- date(post.date, "YYYY-MM-DD" ) %>
            </time>
            <h1 class="homepage-post-title">
                <a class="homepage-post-link" href="<%- url_for(post.path) %>">
                    <%= post.title %>
                </a>
            </h1>
        </article>
    <% }) %>
</section>
<!-- 分页 -->
<%- include('./include/paginator.ejs') %>
<!-- index页样式 -->
<style>
    .homepage-posts-wrapper {
        padding: 1rem 2.5rem;
    }
    .homepage-post-year {
        padding: 1rem 0 1rem 0;
        color: var(--deep-blue);
        font-size: 1.5rem;
    }
    .homepage-post {
        padding: 0.25rem 0;
        /* border-bottom: dashed 1px #BABABA; */
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        font-size: 0.9rem;
        color: var(--deep-blue);
    }
    .homepage-post-title {
        margin: 0;
        padding-left: 1.5rem;
        font-weight: normal;
        font-size: 0.9rem;
    }
    .homepage-post-link {
        text-decoration: none;
        color: var(--deep-blue);
    }
    .homepage-post-link:hover {
        color: var(--link-hover);
    }
</style>