<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= config.title %></title>
    <%- favicon_tag("favicon.ico") %>
    <%- css("css/style.css") %>
    <%- css("css/hljs-default-min.css") %>
    <!-- <script type="module" src="/js/index.js"></script> -->
</head>
<body>

    <header class="header">
        <div class="header-wrapper">
            <div class="website-title" id="website-title">
                <a href="<%- url_for() %>" class="website-title-link">
                    <%= config.title %>
                </a>
            </div>
            <nav class="menu">
                <% for (name in theme.menu) { %>
                    <li class="menu-item">
                        <a href="<%- url_for(theme.menu[name]) %>">
                            <%= name %>
                        </a>
                    </li>
                <% } %>
            </nav>
        </div>
    </header>

    <% if(page.path == "index.html") { %>
        <div class="banner" id="banner-placeholder">
            <div class="banner-wrapper">PLACEHOLDER</div>
        </div>
    <% } else { %>
        <div class="banner-placeholder" id="banner-placeholder"></div>
    <% } %>

    <div class="container">
        <!-- 嵌套内容区域 -->
        <div class="content">
            <%- body %>
        </div>
        <div class="footer">
            <p>
                © Copyright 2022 <a href="https://github.com/inferno0303/" style="color: #ccc;">inferno0303</a>
            </p>
        </div>
    </div>

</body>
</html>