<!-- 根模板 -->
<!DOCTYPE html>
<html lang="zh-CN">
<!-- head标签 -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= config.title %>
    </title>
    <%- favicon_tag("favicon.ico") %>
    <%- css("css/style.css") %>
    <%- css("css/hljs-default-min.css") %> 
</head>
<!-- body标签 -->
<body>
    <!-- header区域 -->
    <header class="header">
        <div class="header-wrapper">
            <div class="website-title">
                <a href="<%- url_for() %>" class="website-title-link">
                    <%= config.title %>
                </a>
            </div>
            <nav class="menu">
                <% for (name in theme.menu) { %>
                    <li class="menu-item">
                        <a href="<%- url_for(theme.menu[name]) %>">
                            <%= name %>
                        </a>
                    </li>
                <% } %>
            </nav>
        </div>
    </header>

    <!-- 这里实现的是假背景上下滚动，分为两个部分，下半部分包装其余的标签 -->
    <div class="fake-background-top"></div>
    <div class="fake-background-btm">
        <!-- 嵌套内容区域 -->
        <div class="container">
            <%- body %>
        </div>
        <div class="footer">
            <p>
                © Copyright 2022 <a href="https://github.com/inferno0303/" style="color: #ccc;">inferno0303</a>
            </p>
        </div>
    </div>
    
</body>
</html>