<article class="post">
  <div class="post-title" id="post-title">
    <h1 class="h1-title">
      <%= page.title %>
    </h1>
  </div>
  <div class="post-meta">
    <span class="post-tags">
      <% page.tags.each(tag=> { %>
        <a href="<%- url_for("/tags/" + tag.name) %>">#<%- tag.name %></a>
        <% }) %>
    </span>
    <span class="post-word-count"><%- page.raw.length %>字</span>
    <span class="post-time"><%- date(page.date, "YYYY-MM-DD" ) %></span>
  </div>
  <div class="post-content">
    <%- page.content %>
  </div>
</article>
<script>
  let title = document.getElementById("post-title").getElementsByClassName("h1-title");
  if (title.length > 0) {
    document.title = title[0].innerText;
  }
</script>