<!--文章归档-->
<section class="archive-wrapper">
    <h1 class="tag-label">
        #<%- page.tag %>
    </h1>
    <ul class="archive-posts">
        <% page.posts.each(function (post) { %>
            <li class="post-item">
                <span class="post-time"><%= date(post.date, "YYYY-MM-DD") %></span>
                <div class="post-title">
                    <a class="post-title-link" href="<%- url_for(post.path) %>">
                        <%= post.title %>
                    </a>
                </div>
            </li>
        <% }) %>
    </ul>
</section>

<!--分页-->
<%- include('./include/paginator.ejs') %>

<!-- 样式 -->
<style>
    .archive-wrapper{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .archive-wrapper .tag-label {
        color: #041725;
        padding-left: 2.5rem;
    }
    .archive-wrapper .post-item {
        padding: 0.25rem 0;
        /* border-bottom: dashed 1px #BABABA; */
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        font-size: 0.9rem;
        color: #4c4948;
    }
    .archive-wrapper .post-item .post-title {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1.5rem;
    }
    .archive-wrapper .post-item .post-title .post-title-link {
        text-decoration: none;
        color: #4c4948;
    }
</style>
